.help {
	background: linear-gradient(0deg, #1c1c1c, #363636);
	left: 0;
	color: white;
	padding-bottom: 100px;
	margin-top: 50px;
	border-radius: 8px;
	margin-left: 20px;
	margin-right: 20px;
	box-shadow: 4px 4px 15px 1px rgba(0, 0, 0, 0.42);
	z-index: 10;
	position: absolute;
	right: 0;
	top: 0;
}

.help ul {
	background: white;
	margin-top: 15px;
	margin-left: -14.75px;
	margin-right: -14.75px;
	margin-bottom: -50px;
	padding-top: 30px;
	padding-bottom: 40px;
	padding-left: 20px;
	padding-right: 20px;
	font-size: 16px;
	list-style: none;
}

.help li {
	padding-bottom: 10px;
}

.help a {
	color: grey;
}

.help a:hover {
	color: white;
}

.help h2{
	padding-top: 5px;
	color: grey;
	text-shadow: -1px -1px 0px #141414;
}