/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) { ... }

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) { ... }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) { ... }

/* General Section CSS */
.container {
	margin: 0px;
}

body {
	background: #2380A5 !important;
    background-repeat: no-repeat;
	overflow-x: hidden; 
}

html {
	height: 100% !important;
}

/* Sections CSS */
.border {
	background: #2d5f72;
	left: 0;
	color: white;
	margin-top: 40px;
	margin-bottom: 40px;
	border-radius: 8px;
	margin-left: 20px;
	margin-right: 20px;
	z-index: 10;
	position: absolute;
	right: 0;
	top: 0;
	padding-bottom: 20px;
}

.border p {
	margin-top: 15px;
	margin-left: -14.75px;
	margin-right: -14.75px;
	padding-top: 30px;
	padding-left: 30px;
	padding-right: 30px;
	color: white;
	font-size: 16px;
}

.border h2{
	padding-top: 20px;
	padding-left: 20px;
	text-shadow: -1px -1px 0px #141414;
	font-family: 'Shrikhand', cursive;
	font-size: 40px;
	-webkit-text-stroke-width: 1.5px;
   -webkit-text-stroke-color: white;
	color: #ea1515;
}

/* Navigation Bar Section CSS */
.navbar {
	background: #2380A5;
	margin-bottom: -5px !important;
	box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

nav a {
	color: white !important;
}

nav a:hover {
	color: grey !important;
	background: #2d5f72 !important;
}

.navbar-toggle.collapsed {
	border-color: #2d5f72 !important;
	background: #2380A5 !important;
}

.navbar-toggle {
	border-color: #2d5f72 !important;
	background: #2d5f72 !important; 
}

.navbar-toggle:hover {
	background: #2d5f72 !important; 
}

.navbar-brand {
	font-family: 'Shrikhand', cursive;
	font-size: 30px !important;
	-webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: white;
	color: #ea1515 !important;
	margin-bottom: -15px !important;
}

/* Header Section CSS */
.header {
	background-image: url("Images/map_bg.png");
	background-size: 150%;
	z-index: -10;
	margin-bottom: 100px;
}

.logo {
	z-index: 5;
	opacity: 1;
	position: absolute;
	height: auto;
	width: 75%;
	padding-left: 25%;
	padding-top: 50px;
}

.quote {
	font-size: 3vw;
	color: white;
	position: absolute;
	z-index: 5;
	text-align: center;
	padding-top: 375px;
	padding-left: 25%;
}

.box {
	background: black;
	opacity: 0.4;
	margin-left: -15px;
	margin-right: -15px;
	z-index: -5;
	padding-top: 200px;
	padding-bottom: 450px;
}

.city {
	position: absolute;
	z-index: 2;
	bottom: -2px;
	width: 100%;
}

.home {
	margin-bottom: 40px;
}

.login {
	margin-bottom: 40px;
}

.register {
	margin-bottom: 40px;
}

.help {
	margin-bottom: 40px;
}

.password {
	margin-bottom: 40px;
}

.contact {
	margin-bottom: 40px;
}

/* Welcome Section CSS */
.welcome p {
	background: white;
	color: grey;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 15px;
	margin-left: -14.75px;
	margin-right: -14.75px;
}

/* Footer Section CSS */
.footer {
	color: white;
}

/* Login Section CSS */
.border input {
	color: black;
}

.login input {
	margin-bottom: -20px;
}

.border form {
	color: white;
	padding-bottom: 20px;
	padding-left: 5px;
	margin-left: 0px;
	margin-right: -14.75px;
}

.border #id_username, #id_password {
	display: block;
	width: 250px;
}

ul.errorlist {
	display: none !important;
}

.form_bttn {
	color: white;
	background: #424242;
	border: 2px solid white;
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
	margin-left: 15px;
	margin-top: 20px;
}

.form_bttn:hover {
	color: grey;
	border: 2px solid grey;
}

.login_image {
	margin-top: 40px;
}

/* Register Section CSS */
.register #id_username, #id_first_name, #id_last_name, #id_email, #id_password1, #id_password2 {
	display: block;
}

.register #id_phone_number, #id_street_number, #id_street_name, #id_suburb, #id_postcode {
	display: block;
}

.helptext {
	font-size: 12px;
	color: white;
	display: block;
}

#id_user_type {
	list-style: none !important;
	color: white !important;
	margin-left: -20px;
	margin-top: -10px;
	margin-bottom: 20px;
}

.required {
	margin-left: 15px;
	margin-top: 30px;
	margin-bottom: -30px;
}

.optional {
	position: absolute;
	margin-left: 15px;
	margin-top: 190px;
}

/* Help Section CSS */
.help ul {
	margin-top: 15px;
	margin-left: -14.75px;
	margin-right: -14.75px;
	margin-bottom: -50px;
	padding-top: 30px;
	padding-bottom: 40px;
	padding-left: 20px;
	padding-right: 20px;
	font-size: 16px;
	list-style: none;
}

.help li {
	padding-bottom: 40px;
	padding-left: 10px;
}

.help a {
	color: white;
	background: #424242;
	border: 2px solid white;
	padding: 10px;
	padding-left: 10px;
	padding-right: 10px;
}

.help a:hover {
	color: grey;
	border: 2px solid grey;
	text-decoration: none;
}

/* Contact Section CSS */
#id_contact_name, #id_contact_email, #id_content {
	display: block;
	color: grey;
}

#id_content {
	resize: none;
}

/* Map Section CSS */
.map_options {
	background: linear-gradient(0deg, #1c1c1c, #363636);
	left: 0;
	color: white;
	padding-bottom: 50px;
	margin-top: 50px;
	border-radius: 8px;
	margin-left: 20px;
	margin-right: 20px;
	box-shadow: 4px 4px 15px 1px rgba(0, 0, 0, 0.42);
	z-index: 10;
	position: absolute;
	right: 0;
	top: 0;
}

.map_options h2{
	padding-top: 5px;
	color: grey;
	text-shadow: -1px -1px 0px #141414;
}

.map_options form {
	background: white;
	color: grey;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 15px;
	margin-left: -14.75px;
	margin-right: -14.75px;
}

.map {
	margin-bottom: 100px;
}

#id_selected_options{
	list-style: none;
}

/* Profile Section CSS */
.edit_profile {
	background: linear-gradient(0deg, #1c1c1c, #363636);
	left: 0;
	color: grey;
	padding-bottom: 50px;
	margin-top: 50px;
	border-radius: 8px;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 100px;
	box-shadow: 4px 4px 15px 1px rgba(0, 0, 0, 0.42);
	z-index: 10;
}

.edit_profile form {
	background: white;
	margin-top: 15px;
	margin-left: -14.75px;
	margin-right: -14.75px;
	padding-top: 30px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 30px;
	color: grey;
	font-size: 16px;
}

.edit_profile h2{
	padding-top: 5px;
	color: grey;
	text-shadow: -1px -1px 0px #141414;
}

.edit_profile p{
	padding-bottom: 20px;
}

.edit_profile #id_username, #id_first_name, #id_last_name, #id_email, #id_password1, #id_password2 {
	display: block;
}

.helptext {
	font-size: 12px;
}
