.map_options {
	background: linear-gradient(0deg, #1c1c1c, #363636);
	left: 0;
	color: white;
	padding-bottom: 50px;
	margin-top: 50px;
	border-radius: 8px;
	margin-left: 20px;
	margin-right: 20px;
	box-shadow: 4px 4px 15px 1px rgba(0, 0, 0, 0.42);
	z-index: 10;
	position: absolute;
	right: 0;
	top: 0;
}

.map_options h2{
	padding-top: 5px;
	color: grey;
	text-shadow: -1px -1px 0px #141414;
}

.map_options form {
	background: white;
	color: grey;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 15px;
	margin-left: -14.75px;
	margin-right: -14.75px;
}

.map {
	margin-bottom: 100px;
}

#id_selected_options{
	list-style: none;
}