.register {
	background: linear-gradient(0deg, #1c1c1c, #363636);
	left: 0;
	color: grey;
	padding-bottom: 50px;
	margin-top: 50px;
	border-radius: 8px;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 100px;
	box-shadow: 4px 4px 15px 1px rgba(0, 0, 0, 0.42);
	z-index: 10;
}

.register form {
	background: white;
	margin-top: 15px;
	margin-left: -14.75px;
	margin-right: -14.75px;
	padding-top: 30px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 30px;
	color: grey;
	font-size: 16px;
}

.register h2{
	padding-top: 5px;
	color: grey;
	text-shadow: -1px -1px 0px #141414;
}

.register p{
	padding-bottom: 20px;
}

.register #id_username, #id_first_name, #id_last_name, #id_email, #id_password1, #id_password2 {
	display: block;
}

.helptext {
	font-size: 12px;
}