{% extends "accounts/base.html" %}



{% block content %}
{% include 'accounts/navBar.html' %}

<div class="home">
<br>
<br>
<br>
<div class="container">
<div class="row">
	<div class="col-sm-6 about">
		<h2>About Smart City Project</h2>
		<p>The Smart City Project is a web based system which provides information on various types of locations in a number of cities in Australia.
		The system caters to different types of users such as business, student and tourist users with the system only showing data relevant to you.
		While the site is early in development, we hope that we will support more cities and locations in the near future.</p>
	</div>

	<div class="col-sm-1">
	</div>

	<div class="col-sm-5 login">
		<!--
			<h2>Login</h2>
			<form method="post" >
				<b>Username:</b>
				<br>
				<input type="text">
				<br>
				<b>Password:</b>
				<br>
				<input type="password">
				<br>
				<br>
				<input type="submit" name="submit" value="Submit">
				<br>
				<br>
				<a href="{% url 'register' %}">Not Registered?</a>
			-->
			<h1>Welcome</h1>
		  <p>
		    You can log in here!
		  </p>
		  <h2>Login</h2>
		  <form method="post">
		      {% csrf_token %}
		      {{ form.as_p }}
		      <button type="submit">Login</button>
			</form>
	</div>
</div>
</div>
</div>

{% endblock %}
