{% extends 'accounts/base.html' %}
{% block content %}
<!-- include the navBar. Change navBar at navBar.html -->
{% include 'accounts/navBar.html' %}


<!--- restrict access --->
<!--- check if user is a admin, if admin, give access --->

{% if user.is_superuser %}
<div class = 'info container-fluid'>
  <br>
  <br>
  <br>
  <div class="container">
  <br>
    <div class="row">

   <div class="col-sm-6 login">
		<h2>Welcome to Smart City</h2>
    
  <form method="post">
	<p>Below you can add an Admin...</p>
	<br>
      {% csrf_token %}
	  <br>
      {{ form.as_p }}
      <br>
      <button type="submit">Add Admin</button>
  </form>
</div>
</div>
</div>
</div>

{% else %}
<h1> You Dont have access to this feature <h1>


{% endif %}

<!-- Body -->

{% endblock %}

