{% extends 'accounts/base.html' %}
{% block content %}
<!-- include the navBar. Change navBar at navBar.html -->
{% include 'accounts/navBar.html' %}
<!-- Body -->
<div class = 'info container-fluid'>
  <br>
  <br>
  <br>
  <div class="container">
  <br>
    <div class="row">

   <div class="col-sm-6 login">
		<h2>Welcome to Smart City</h2>
    
  <form method="post">
	<p>Below you can add an Admin...</p>
	<br>
      {% csrf_token %}
	  <br>
      {{ form.as_p }}
      <br>
      <button type="submit">Add Admin</button>
  </form>
</div>
</div>
</div>
</div>
{% endblock %}
