
<!--- 
Creator: Jamie Kostaschuk

Description:  this is the page that admins can use to view the different 
admin-related pages

--->
{% extends "accounts/base.html" %}

{% block content %}

<!--- restrict access --->
<!--- check if user is a admin, if admin, give access --->

{% if user.is_superuser %}

	<br>
	<br>
	<br>
	<br>
	<a href="/home/admin/create_business_data" class="form_bttn" >Create Business Data </a>
	<br>
	<br>

{% else %}

<h1> You Dont have access to this feature <h1>


{% endif %}


{% endblock %}