<!---
Creator: Jamie Kostaschuk

Description:  this is the businessman specific data feature.

It is designed in several parts.
	Firstly, the form gathers the location that the user wants
	to find data in. and teh 'businessman results' page displays the
	data related to that location

--->

{% extends "accounts/base.html" %}
{% block content %}

<div class = 'info container-fluid'>
  <br>
  <br>
  <br>
<div class="container">
    <div class="row">
    	<div class="col-sm-6 map_options">
  <h2>Business Data</h2>

<form method = "post">
<p>this is the businessman feature
<br>

</p>

<!--- restrict access --->
<!--- check if user is a admin, if admin, give access --->
<!--- check if user is a businessman, if so, give access --->

{% if user.userprofile.user_type == 'businessman' or user.is_superuser %}


<!--- keep the csrf token security above all form options --->
{% csrf_token %}

<p> displayed form below is the location form</p>
{{ location_form.as_p }}

<button type ="submit" class="form_bttn">Submit</button>
</form>

</div>
<div class="col-sm-1">
</div>

<div class="col-sm-5 map">
	<br><br><br>

{% include "accounts/businessmanresults.html" %}
</div>

{% else %}
<h1> You Dont have access to this feature <h1>


{% endif %}


</div>
</div>
</div>



{% endblock %}
