
<!--- 
Creator: Jamie Kostaschuk

Description:  this is the businessman specific data feature - full details of data

Displays all the data accociated with a business data entry. has the map if the useMap 
variable is true

--->
{% extends "accounts/base.html" %}

{% block content %}

<!--- restrict access --->
<!--- check if user is a admin, if admin, give access --->
<!--- check if user is a businessman, if so, give access --->

{% if user.userprofile.user_type == 'businessman' or user.is_superuser %}
	<h1> {{object.businessType}} </h1>
	<h2> In City: {{object.associatedCity}} </h2>
	<h3>Organisations:</h3>
	<p>{{object.cityOrganisationalData}}</p>
	<h3>Current State:</h3>
	<p>{{object.stateAnalysis}}</p>
	<h3>Read More (References):</h3>
	<p>{{object.furtherReadings}}</p>	
	
	{% if object.useMap %}
	
		<h3> Map: </h3>
			<iframe width="600" height="450" frameborder="0"
		src={{ object.optionalMapSearchInput }}
		allowfullscreen></iframe>
	{% endif %}

{% else %}
<h1> You Dont have access to this feature <h1>


{% endif %}




{% endblock %}