<!---
Creator: Jamie Kostaschuk

Description:  this is the businessman data creation form
--->

{% extends "accounts/base.html" %}

{% block content %}


<!--- restrict access --->
<!--- check if user is a admin, if admin, give access --->

{% if user.is_superuser %}

	<form method = "post">
		{% csrf_token %}
		<br><br><br><br>
		<p> For the Google Map search input, please ensure that it does not include the location,
		and is simple, and all different information is separated by ','. for example: "MacDonalds, Burger King".</p>

		{{ business_data_creation_form.as_p }}
		<button class="form_bttn" type ="submit">Submit</button>
	</form>

{% else %}
  <br>
  <br>
  <br>
<h1> You Dont have access to this feature <h1>

{% endif %}


{% endblock %}
