{% extends "accounts/base.html" %}

{% block content %}
{% include 'accounts/navBar.html' %}
<div class="home">
<br>
<br>
<br>
<div class="container contact">
<div class="row">
	<div class="col-sm-3"></div>
	<div class="col-sm-6 border">
		<h2>Contact</h2>
		<p>Have a problem? Fill out the form below and one of our admins will reply to your issue shortly.</p>
		<form role="form" action="" method="post">
			{% csrf_token %}
			{{ form.as_p }}
			<button class="form_bttn" type="submit">Submit</button>
		</form>
	</div>
</div>
</div>
</div>

{% endblock %}
