{% extends 'accounts/base.html' %}

{% block content %}
<!-- include the navBar. Change navBar at navBar.html -->
{% include 'accounts/navBar.html' %}
<!-- Body -->
<div><br><br><br></div>
<div class = 'container-fluid edit_profile'>
<div class="row">
	<div class="col-sm-1"></div>
	<div class="col-sm-5 border">
  <h2>Manage Your Profile</h2>
<form method="post">
	{% csrf_token %}
	{{ edit_form.as_p }}
	<!-- this causes a KeyError because password does not match the confirm password -->
	<!-- talk to mustafa about this -->
	<!-- edit_form_optional.as_p -->
	<button class="form_bttn" type="submit">Submit</button>
</form>
</div>
	<div class="col-sm-1"></div>
	{% load static %}
	<div class="col-sm-5"><img class="profile_image" src="{% static "css/Images/profile.svg" %}" alt="Placeholder"></div>
</div>
</div>
{% endblock %}
