{% extends 'accounts/base.html' %}

{% block content %}
<!-- include the navBar. Change navBar at navBar.html -->
{% include 'accounts/navBar.html' %}
<!-- Body -->
<div><br><br><br></div>
<div class = 'container-fluid edit_profile'>
<div class="row">
	<div class="col-sm-1"></div>
	<div class="col-sm-6 border">
  <h2>Manage Your Profile</h2>
<form method="post" action="http://localhost:8000/home/profile/">
	{% csrf_token %}
	<ul>
		<li>Phone Number: <input id="phone_number" type="text" name="fname" value="{{ user.userprofile.phone_number }}"></li>
		<li>Street Number: <input id="street_number" type="text" name="fname" value="{{ user.userprofile.street_number }}"></li>
		<li>Street Name: <input id="street_name" type="text" name="fname" value="{{ user.userprofile.street_name }}"></li>
		<li>Suburb: <input id="suburb" type="text" name="fname" value="{{ user.userprofile.suburb }}"></li>
		<li>Postcode: <input id="post_code" type="text" name="fname" value="{{ user.userprofile.postcode }}"></li>
	<ul>
	<button class="form_bttn" type="submit">Submit</button>
</form>
</div>
</div>
</div>
{% endblock %}
