{% extends "accounts/base.html" %}
{% block content %}
{% include 'accounts/navBar.html' %}
<br>
<br>
<br>
<div class="container help">
	<div class="row">
		<div class="col-sm-5 border">
			<h2>Help</h2>
			<p>The help section provides various tools that may assist users with any issues you may encounter when using Smart City Project.</p>
				<ul>
					<li><a href="/home/help/contact">Contact</a></li>
					<li><a href="/home/password_reset">Password Recovery</a></li>
					<li><a href="/home/help/feedback">Provide Feedback</a></li>
				</ul>
		</div>
		<div class="col-sm-1"></div>
		{% load static %}
		<div class="col-sm-6"><img class="help_image" src="{% static "css/Images/help.svg" %}" alt="Placeholder"></div>
	</div>
</div>
{% endblock %}
