{% extends "accounts/base.html" %}

{% block content %}
{% include 'accounts/navBar.html' %}
<div class="home">
<br>
<br>
<br>
<div class="container">
<div class="row">
	<div class="col-sm-6 about">
		<h2>About Smart City Project</h2>
		<p>The Smart City Project is a web based system which provides information on various types of locations in a number of cities in Australia.
		The system caters to different types of users such as business, student and tourist users with the system only showing data relevant to you.
		While the site is early in development, we hope that we will support more cities and locations in the near future.
		</p>
	</div>
	<div class="col-sm-1">
	</div>

	<div class="col-sm-5 login">
		{% if user.is_anonymous %}
			<h2>Login</h2>
				<form method="post">
				<p>Login to gain access to your personalised map</p>
					{% csrf_token %}
					{{ form.as_p }}
					<br>
					<button type="submit">Login</button>

				</form>
		{% endif %}
		
		{%if user.is_authenticated %}
			<div class="welcome">
			<h2>Welcome!</h2>
			<p>Welcome user to Smart City Project. Select the map button at the top to head to the map.</p>
			</div>
		{% endif %}
	</div>
</div>
</div>
</div>

{% endblock %}
