{% extends "accounts/base.html" %}
{% block content %}
{% include 'accounts/navBar.html' %}
<div class="home">
<br>
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-12 header">
				{% load static %}
				<img class="logo" src="{% static "css/Images/logo.svg" %}" alt="Smart City Logo">
				<p class="quote">"The premiere map search system."</p>
				<img class="city" src="{% static "css/Images/city_scape.svg" %}" alt="Smart City Logo">
			<div class="box">
			</div>
			</div>
		</div>
		<div class="row home">
			<div class="col-sm-1"></div>
				<div class="col-sm-5 border">
					<h2>About Smart City Project</h2>
					<p>The Smart City Project is a web based system which provides information on various types of locations in a number of cities in Australia.
					The system caters to different types of users such as business, student and tourist users with the system only showing data relevant to you.
					While the site is early in development, we hope that we will support more cities and locations in the near future.
					</p>
				</div>
			<div class="col-sm-1"></div>
			<div class="col-sm-4 border">
				{% if user.is_anonymous %}
					<h2>Login</h2>
						<form method="post">
							{% csrf_token %}
							{{ form.as_p }}
							&nbsp; &nbsp;
							<a href="/home/register">Click here to register</a>
							<br>
							<button class="form_bttn" type="submit">Login</button>

						</form>
				{% endif %}

				{%if user.is_authenticated %}
					<div class="boarder">
					<h2>Welcome!</h2>
					<p>Welcome user to Smart City Project. Select the map button at the top to head to the map.</p>
					{% load static %}
					<img class="welcome_image" src="{% static "css/Images/welcome.svg" %}" alt="Placeholder">
					</div>
				{% endif %}
			</div>
		</div>
	</div>
</div>
{% endblock %}
