{% extends 'accounts/base.html' %}
{% block content %}
<!-- include the navBar. Change navBar at navBar.html -->
{% include 'accounts/navBar.html' %}
<!-- Body -->
<div class = 'info container-fluid'>
  <br>
  <br>
  <br>
  <div class="container login">
    <div class="row">
		<div class="col-sm-5 border">
			<h2>Login</h2>
        			  <form method="post">
				  {% csrf_token %}
				  {{ form.as_p }}
				  <br>
				  <button class="form_bttn" type="submit">Login</button> <br><br>
          {% load socialaccount %}
          {% providers_media_js %}
		  {% load static %}
          <a href="{% provider_login_url "facebook" method="js_sdk" %}" class="btn btn-block btn-social btn-facebook">
            <span class="fa fa-facebook"><img class="facebook" src="{% static "css/Images/facebook.svg" %}" alt="Placeholder">Sign in with Facebook</span>
          </a>
			  </form>
		</div>
	<div class="col-sm-1"></div>
	{% load static %}
  <div class="col-sm-6"><img class="login_image" src="{% static "css/Images/login.svg" %}" alt="Placeholder"></div>
</div>
</div>
</div>
{% endblock %}
