{% extends 'accounts/base.html' %}

{% block content %}
<!-- include the navBar. Change navBar at navBar.html -->
{% include 'accounts/navBar.html' %}
<!-- Body -->
<div>
  <br><br><br>
</div>
<div class = 'rego container-fluid'>
  <div class="row">
	  <div class="col-sm-1">
      <!-- -->
    </div>
    <div class="col-sm-6 register">
      <h2>Create New Admin</h2>
      {% if registered %}
      <strong>Admin Created!</strong>
      <a href="/home/">Return to homepage</a><br />
      {% else %}
      <strong>Enter Details</strong><br />
      <form id="user_form" method="post" action="/home/register/"
      enctype="multipart/form">
      {% csrf_token %}
      {{ new_admin_form.as_p }}

      <br>
      <button type="submit" name="submit">Register</button>
      </form>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
