{% extends "accounts/base.html" %}

{% block content %}
{%if validlink %}
{% include 'accounts/navBar.html' %}
<div class="home">
<br>
<br>
<br>
<div class="container password">
<div class="row">
	<div class="col-sm-6 border">
        <form method="post">
		  <h2>Change Password</h2>
                <p>
                    {% csrf_token %}
                    {{ form.as_p }}
                </p>
                <button type="submit">Change Password</button>
        </form>
        {% else %}
            <p> The password reset link was invalid, possibly because it has been used. Please reqiest a new one</p>
        {% endif %}
	</div>
</div>
</div>
</div>

{% endblock %}
