{% extends 'accounts/base.html' %}

{% block content %}
<!-- include the navBar. Change navBar at navBar.html -->
{% include 'accounts/navBar.html' %}
<!-- Body -->
<div><br><br><br></div>
<div class="container-fluid profile">
<div class="row">
	<div class="col-sm-1"></div>
	<div class="col-sm-6 border">
  <h2>Manage Your Profile</h2>
  <p>Feel free to update your details below</p>
  <a href="/home/profile/edit_profile">Click to update your details</a>
<form method="post">
	<p>Username: {{ user.username }}</p>
	<p>First Name: {{ user.first_name }}</p>
	<p>Last Name: {{ user.last_name }}</p>
	<p>Email Address: {{ user.email }}</p>

	<p>Phone Number: {{ userProfile.phone_number }}</p>
	<p>Street Number: {{ userProfile.street_number }}</p>
	<p>Street Name: {{ userProfile.street_name }}</p>
	<p>Suburb: {{ userProfile.suburb }}</p>
	<p>Postcode: {{ userProfile.postcode }}</p>

</form>
</div>
</div>
</div>
{% endblock %}
