{% extends 'accounts/base.html' %}

{% block content %}
<!-- include the navBar. Change navBar at navBar.html -->
{% include 'accounts/navBar.html' %}
<!-- Body -->
<div>
  <br><br><br>
</div>
<div class = 'rego container-fluid'>
  <div class="row">
	  <div class="col-sm-1">
      <!-- -->
    </div>
    <div class="col-sm-6 register">
      <h2>Register your account</h2>
      {% if registered %}
      <strong>Thank you for registering!</strong>
      <a href="/home/">Return to homepage</a><br />
      {% else %}
      <form id="user_form" method="post" action="/home/register/"
      enctype="multipart/form">
      {% csrf_token %}
	  <h3>Required Information:</h3>
      {{ user_form.as_p }}
	  <h3 class="optional">Optional Information:</h3>
      {{ profile_form.as_p }}
      <br>
      <button class="register_bttn" type="submit" name="submit">Register</button>
      </form>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
