{% extends 'accounts/base.html' %}
{% block content %}
<!-- include the navBar. Change navBar at navBar.html -->
{% include 'accounts/navBar.html' %}
<!-- Body -->
<div>
  <br><br><br>
</div>
<div class = 'rego container-fluid register'>
  <div class="row">
	  <div class="col-sm-3">
      <!-- -->
    </div>
    <div class="col-sm-6 border">
      <h2>Register your account</h2>
      {% if registered %}
      <p>Thank you for registering!</p> <br>
      &nbsp;
      <a href="/home/">Return to homepage</a>
      <a href="/home/login">Login to your account here</a><br/>
      {% else %}
      <form id="user_form" method="post" action="/home/register/"
      enctype="multipart/form">
      {% csrf_token %}
	  <h3 class="required">Required Information:</h3>
      {{ user_form.as_p }}
	  <h3 class="optional">Optional Information:</h3>
      {{ profile_form.as_p }}
      <br>
      <button class="form_bttn" type="submit" name="submit">Register</button>
      </form>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
