{% extends "personal/template.html" %}

{% block content %}

<!--<h1> This is index.html</h1>
<a href="templates/personal/register.html">REGISTER</a>
<a href="templates/personal/login.html">Login</a>
<a href="templates/personal/map.html">Map</a>-->
<br>
<br>
<br>
<div class = 'info container-fluid'>
    About us info in here
</div>

<div class = 'loginHome container-fluid'>
    <h2>LOGIN</h2>
    <form method="post" >
        <b>Username:</b>
        <br>
        <input type="text"> 
        <br>
        <b>Password:</b>
        <br>
        <input type="password">
        <br>
        <br>
        <input type="submit" name="submit" value="submit">
    </form>
</div>

{% endblock %}