.info{
    width: 45%;
    position:absolute;
    border-style: dashed;
    height:85%;
     word-wrap:break-word; 
    padding-left:5px; 
/*    margin: 3% 0% 0% 1%;*/
    left:1%;
    overflow-y: auto;
}

.loginHome{
    width:45%;
    position: absolute;
    border-style: dashed;
    height: 85%;
    word-wrap: break-word;
    padding-right: 5px;
    left: 54%;
/*    margin-top: 3%;*/
    overflow-y: auto;
}

@media(max-width:600px){
    .info{
        min-height: 50%;
    }
    
    .loginHome{
        min-height: 50%;
    }
}